.login-card {
    width: 250px;
    height: 240px;
    background-color: #f2f2f2;
    border-radius: 25px;
    box-shadow: 2px 2px 15px rgb(193, 193, 193);
    margin: auto; /* Center the card */
    margin-top: 50px; /* Adjust as needed */
}

.instruction-text {
    color: rgb(150, 150, 150);
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}

.login-card a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.normal-signin,
.create-account {
    padding: 10px;
    font-size: 17px;
    width: 70%;
    margin: 5px auto; /* Center the buttons horizontally */
    display: block; /* Ensure each button occupies full width */
    border: 2px solid transparent;
    border-radius: 5em;
    font-weight: bold;
    font-family: sans-serif;
    transition: 0.2s;
    text-align: center; /* Center the text */
}

.normal-signin {
    background-color: #1b77da;
    color: #f2f2f2;
}

.normal-signin:hover {
    background-color: transparent;
    color: #1b77da;
    border: 2px solid #1b77da;
}

.create-account {
    background-color: #e8e8e8;
    color: #1b77da;
}

.create-account:hover {
    background-color: transparent;
    color: #1b77da;
    border: 2px solid #1b77da;
}